*.pyc
.idea/
venv/
config/production.py
config/development.py
bower_components/
output/
uploads/*
!uploads/avatars/
uploads/avatars/*
!uploads/avatars/default.png
node_modules/
application/pages/**/*.css
application/static/css/**/*.css
!application/static/css/libs/*.css
application/static/output/
