include CHANGES LICENSE README.rst requirements.txt
recursive-include tests *
recursive-include docs *
prune docs/_build
recursive-include flask_boost/project *
recursive-exclude flask_boost/project *.pyc
prune flask_boost/project/application/static/bower_components