{% extends "layout.html" %}
{% from 'macros/_form.html' import horizontal_field, form_submit %}

{% block page_title %}Sign in{% endblock %}
{% block page_js %}
    <script type="text/javascript" charset="utf-8" src="/static/js/account/signin_d41d8cd.js"></script>
{% endblock %}
{% block page_css %}
    <link type="text/css" rel="stylesheet" href="/static/css/account/signin_d41d8cd.css">
{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Sign in</h1>

                <form method="post" class="form-horizontal" action="{{ url_for('account.signin') }}">
                    {{ form.csrf_token() }}

                    {{ horizontal_field(form.email) }}

                    {{ horizontal_field(form.password) }}

                    {{ form_submit('Sign in') }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
