{% extends "layout.html" %}
{% from 'macros/_form.html' import vertical_field, form_submit %}

{% block page_title %}Sign up{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Sign up</h1>

                <form method="post" autocomplete="off" action="{{ url_for('account.signup') }}">
                    {{ form.csrf_token() }}

                    {{ vertical_field(form.name) }}

                    {{ vertical_field(form.email) }}

                    {{ vertical_field(form.password) }}

                    {{ vertical_field(form.repassword) }}

                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

