{% extends "layout.html" %}
{% from '_form.html' import horizontal_field, form_submit %}

{% block page_title %}Sign up{% endblock %}
{% block page_js %}
    <script src="/pages/account/signup/signup.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/account/signup/signup.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Sign up</h1>

                <form method="post" class="form-horizontal" autocomplete="off"
                      action="{{ url_for('account.signup') }}">
                    {{ form.csrf_token() }}

                    {{ horizontal_field(form.name) }}

                    {{ horizontal_field(form.email) }}

                    {{ horizontal_field(form.password) }}

                    {{ horizontal_field(form.repassword) }}

                    {{ form_submit('Sign up') }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

