@import "utils";

// Text
.text-error {
  color: red;
}

.text-light {
  color: gray;
}

// Table
.table-vertical-middle > tbody > tr > td {
  vertical-align: middle;
}

// Avatar
.avatar {
  width: 72px;
  height: 72px;
}

.avatar-sm {
  width: 48px;
  height: 48px;
}

.avatar-lg {
  width: 96px;
  height: 96px;
}

.avatar-xl {
  width: 176px;
  height: 176px;
}

// Layout
.col-top-gap {
  margin-top: 20px;
}
