// Colors
@main-color: #3fa7cb;
@dark-main: darken(@main-color, 10%);
@light-main: lighten(@main-color, 10%);

.border-radius( @radius:5px ) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}